<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448503188314-92dt8s1vc8iut1cnspjs86ac7n5u1qgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448503188314-92dt8s1vc8iut1cnspjs86ac7n5u1qgd</string>
	<key>API_KEY</key>
	<string>AIzaSyDnE8ljaQmKfoVcdtXf2Bra-ImsVDEwDxA</string>
	<key>GCM_SENDER_ID</key>
	<string>448503188314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smartur.smarturv1</string>
	<key>PROJECT_ID</key>
	<string>smartur-d7809</string>
	<key>STORAGE_BUCKET</key>
	<string>smartur-d7809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448503188314:ios:cdfbb1f75b8f9070f6c163</string>
	<key>DATABASE_URL</key>
	<string>https://smartur-d7809.firebaseio.com</string>
</dict>
</plist>